body
{
	background-color:	#4078C0;
}

li
{
	display:	inline;
}

h1
{
	padding:	10px 0 10px 0;
	font-size:	40px;
}

p a
{
	font-color:	#080808;
}

footer
{
	border-top:	2px solid #221811;
}

#wrapper
{
	margin-left:	150px;
}
